@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  /* height: 100%;
  background: linear-gradient(to top left, #28b487, #7dd56f); */
}

body {
  margin: 0;
  /* background-color: #3f3f3f; */
  /* height: 100%; */
  background: linear-gradient(to top left, #28b487, #7dd56f);
  background-attachment: fixed;
  /* background-size: cover; */

  /* background: linear-gradient(to right bottom, #fbdb89, #f48982); */
}
